# Copy this to .env and fill in your values
PORT=3001
ALLOWED_ORIGINS=http://YOUR_COMPUTER_IP:8081,http://localhost:8081
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----"
GOOGLE_PROJECT_ID=your-google-cloud-project-id
MAIN_PROJECT_ID=your-document-id